{% extends "ais_gen/base.html" %}

{% block content %}

    <h3>Zvol měsíc a rok</h3><br>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            alert(message);
        {% endfor %}
    {% endif %}

    {% comment %}<form action="{% url 'generator:input_date' %}" method="post">
    {% csrf_token %}
    {{ date_form }}
    <input type="submit" value="Dále"><br>
</form>{% endcomment %}

    <form action="{% url 'generator:input_date' %}" method="post">
        {% csrf_token %}
        <input type="month" id="date" name="date" min="2000-03" value="{% now "Y" %}-{% now "m" %}">
        <span class="validity"></span>
        <input type="submit" value="Dále"><br>
    </form><br>
    <p> pozn. pokud používáte Internet Explorer, pak vepište datum ve formátu "ROK-MĚSÍC", např. leden 2018 jako
        "2018-01"</p>

{% endblock %}
